// Tailwind CSS
@tailwind base;
@tailwind components;
@tailwind utilities;




.test {
  padding: 20px;
  background-color: #0bd;
  color: gold;
  font-size: 1.5rem;
  font-weight: 700;
}


.btn {
  padding: 20px;
  border-radius: 20px;
  background-color: blue;
  color: gold;
  font-size: 20px;
  font-weight: bold;
}
